<%- include('../partials/header') %>
  <link rel="stylesheet" href="./css/home.css">

  <%- include('../partials/navbar') %>

    <div class="hero">
      <div class="container">
        <h1>به ProfiLink خوش آمدید</h1>
        <p>رزومه، پروژه‌ها، و تخصص خود را به نمایش بگذارید.</p>

      

      </div>
    </div>

<div class="container">
  
            <%- include('../partials/sample-projects') %>
              <%- include('./about') %>
                <%- include('./contact') %>
</div>



    <%- include('../partials/footer') %>